{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block nav_team_active %}active{% endblock %}

{% block content %}
    <div id="team-caption"><h1>{{ team.name }}</h1></div>
    {% include 'parts/calendar.html' %}
    {% if team.chat %}
    <div class="chat-placeholder">
        <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" />
        <div class="chat-wrapper"
             data-url="{% url 'team_chat' team_id=team.id %}{% if page_number %}?page={{ page_number }}{% endif %}">
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block right_side_content %}
    <div id="team-members">
    {% for member in team.members.all %}
    <div class="member">
        <img src="{{ member.get_image }}" />
        <div>{{ member.get_short_name }}</div>
    </div>
    {% endfor %}
    </div>
    <div id="team-settings-link">
        {% if is_owner %}<a href="{% url 'edit_team' team_id=team.id %}" class="btn btn-default">{% trans 'Edit' %}</a>{% endif %}
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
     <script>
         getEventsUrl = '{% url "get_calendar_events_for_team" team_id=team.id %}';
     </script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fullcalendar.js"></script>
     <script src="{{ STATIC_URL }}js/view_group.js" type="text/javascript"></script>
     <script type="text/javascript">
        ajaxPageUrlBase = "{% url 'team_chat' team_id=team.id %}";
     </script>
     <script type="text/javascript" src="{{ STATIC_URL }}js/message_list.js"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css" >
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.print.css" media='print' >
{% endblock %}
