{% load i18n %}

{% if user.is_authenticated %}
<form id="send-tag-message-wrapper" action="{{ chat.url }}" method="post" class="form-horizontal" role="form">{% csrf_token %}
    <div>
        {{ form.text }}<input type="submit" class="btn btn-success btn-lg" value="{% trans 'Post'%}" />
    </div>
</form>
{% else %}
<div id="sign-in-to-chat">
    <span><a href="#left-side">{% trans 'Sign in' %}</a>, {% trans 'to post a message' %}</span>
</div>
{% endif %}

{% include 'parts/page_links.html' %}

<div class="messages" data-page="{{ page.number }}">
{% for message in page.object_list reversed %}
<div class="message">
    <div class="avatar-wrapper">
        <a href="{% url 'view_user' profile_id=message.author.userprofile.id %}">
            <img class="avatar" src="{{ message.author.userprofile.get_image }}" />
            <span>{{ message.author.username }}</span>
        </a>
    </div>
    <div class="create-date-time">{{ message.create_time|date:'SHORT_DATE_FORMAT'}}</div>
    <span class="body">{{ message.text|safe }}</span>
    <div class="clear"></div>
</div>
{% endfor %}
</div>

{% include 'parts/page_links.html' %}
{{ form.media }}

