{% load i18n %}

<div class="messages" data-page="{{ page.number }}">
{% for message in page.object_list %}
<div class="message">
    <div class="avatar-wrapper">
        <a href="{% url 'view_user' profile_id=message.author.userprofile.id %}">
            <img class="avatar" src="{{ message.author.userprofile.get_image }}" />
            <span>{{ message.author.username }}</span>
        </a>
    </div>
    <div class="create-date-time">{{ message.create_time|date:'SHORT_DATE_FORMAT'}}</div>
    <span class="body">{{ message.text }}</span>
    <div class="clear"></div>
</div>
{% endfor %}
</div>

<div class="center chat-page-links">
{% if page.paginator.num_pages < 11 %}
    {% for page_number in page.paginator.page_range reversed %}
    {% include 'parts/page_link.html' %}
    {% endfor %}
{% else %}
    {% for page_number in page.paginator.page_range reversed %}
        {% if forloop.counter < 5 or forloop.revcounter < 5 %}
            {% include 'parts/page_link.html' %}
        {% elif forloop.counter == 5 %}
            <form action="{{ chat.url }}" id="open-page-wrapper">
                <input name="page" type="text" value="{% if page.number > 4 and page.number < page.paginator.num_pages|add:-3 %}{{ page.number }}{% endif %}" />
            </form>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

{% if user.is_authenticated %}
<form id="send-tag-message-wrapper" action="{{ chat.url }}" method="post" class="form-horizontal" role="form">{% csrf_token %}
    <div>
        {{ form.text }}<input type="submit" class="btn btn-success btn-lg" value="{% trans 'Post'%}" />
    </div>
</form>
{% else %}
<div id="sign-in-to-chat">
    <span><a href="#left-side">{% trans 'Sign in' %}</a>, {% trans 'to post a message' %}</span>
</div>
{% endif %}