{% include 'parts/page_links.html' %}

<div class="messages" data-page="{{ page.number }}">
{% for message in page.object_list reversed %}
<div class="message" id="message{{ message.id }}">
    <div class="avatar-wrapper">
        <a href="{% url 'view_user' profile_id=message.author.userprofile.id %}">
            <img class="avatar" src="{{ message.author.userprofile.get_image }}" />
            <span>{{ message.author.username }}</span>
        </a>
    </div>
    <div class="create-date-time">{{ message.create_time|date:'SHORT_DATE_FORMAT'}}</div>
    <span class="body">{{ message.text|safe }}</span>
    <div class="clear"></div>
</div>
{% endfor %}
</div>

{% include 'parts/page_links.html' %}


