{% load i18n %}

<div class="chat-placeholder">
    <img class="loader" src="{{ STATIC_URL }}img/ajax-loader.gif" />
    {% if user.is_authenticated %}
    <form id="send-tag-message-wrapper" action="{{ chat_url }}" method="post" class="form-horizontal" role="form">{% csrf_token %}
        <div>
            {{ chat_form.text }}<input type="submit" class="btn btn-success btn-lg" value="{% trans 'Post'%}" />
        </div>
    </form>
    {{ chat_form.media }}
    {% else %}
    <div id="sign-in-to-chat">
        <span><a href="#left-side">{% trans 'Sign in' %}</a>, {% trans 'to post a message' %}</span>
    </div>
    {% endif %}
    <div class="chat-wrapper"
         data-url="{{ chat_url }}{% if page_number %}?page={{ page_number }}{% endif %}">
    </div>
</div>