
/**
---------------------basic-------------
**/

body{
    font-family: verdana,tahoma,arial;
    font-size: 24px;   
/**    background-color: #E6F0F6; **/
}

.toLeft{
    float: left;
}

.clear{
    clear: both;
}

#commercial-placeholder{width: 100%;height: 60px;}

@auth_side: 66px;
#all-auth-links{
    img{
        margin: 15%;
        width: 44%;
        cursor: pointer;
    }
}

#content{width: 74%;padding: 1em 0.5%; margin: 0 0.5%;background-color: white; border-radius: 0.2em;}

#left-side, #right-side{
    width: 12.5%;
}

#all-wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    padding: 0 2%;
}




#right-side{
    #right-side-settings{
        margin-top:10em;   
    }
}

.pointer{
    cursor: pointer;
}

/**
---------------------------------base---------------------------
**/
#locales-switcher{width:9em;margin: 0 auto;font-size:0.5em;}
.available-lang, .active-lang{
    &>*{display: inline;}
    img {
        width :1em;
    }
}
.available-lang{ width: 40%;}
.active-lang{ width: 60%; font-size: 2em; }

/**
---------------------------------authenticated_base--------------
**/
#logout-wrapper{text-align:center; margin-top:1em;}


/**
------------------------index-------------------
**/
#calendars{
    padding:0 1%;
    &>div.fc {
        float: left;
        width: 32%;
        margin-right: 2%;
        &.calendar-after{ margin-right: 0;}
        
    }
    .fc-header-title{text-align: center;}
    .fc table{font-size: 0.6em;}
    
    .calendar-after .fc-header-right, .calendar-before .fc-header-left{
        vertical-align: center;
        text-align: center;
        font-size: 92px;
        line-height: 25%;
    }
}

#calendar-tags-caption{text-align: center;}
#calendar-tags .tag{width: 100%; font-size: 1.8em; background-color: #5CB85C; border-radius: 0.1em; padding-left: 0.6em; font-family: Georgia, Times, "Times New Roman", serif;}
#login-placeholder, #register-placeholder {width: 45%;}
#login-placeholder {margin-left: 2%; margin-right: 8%;}
#email-authentication>.modal-dialog{font-size: 0.6em;width: 55em;}
#login-submit-wrapper{text-align: center; width: 50%;}
#register-submit-wrapper{text-align: center; width: 50%;}
#email-authentication tr{margin: 0.5em auto;}

/*
----------------------------------------team views-------------------------------
**/
#team-caption{text-align: center;}
#team-edit-form{text-align: center;}
#team-edit-form #team-caption input[type='text'] {width: 30em; margin: 0 auto;}
#team-settings-link{text-align: center;}
#right-side-content #team-members{ margin-bottom: 1em;}





