/**
---------------------basic-------------
**/

body{
    font-family: verdana,tahoma,arial;
}

.toLeft{
    float: left;
}

.clear{
    clear: both;
}

#commercial-placeholder{width: 100%;height: 60px;}

@auth_side: 66px;
#all-auth-links{
    img{
        margin: 15%;
        width: 44%;
        cursor: pointer;
    }
}

#content{
    width: 75%;
}

#left-side, #right-side{
    width: 12.5%;
}

#all-wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 1200px;
    padding: 0 2%;
}




#right-side{
    #right-side-settings{
        margin-top:10em;   
    }
}

.pointer{
    cursor: pointer;
}

/**
---------------------------------base---------------------------
**/
#locales-switcher{width:9em;margin: 0 auto;}
.available-lang, .active-lang{
    &>*{display: inline;}
    img {
        width :1em;
    }
}
.available-lang{ width: 40%;}
.active-lang{ width: 60%; font-size: 2em; }

/**
---------------------------------authenticated_base--------------
**/
#logout-wrapper{text-align:center; margin-top:1em;}


/**
------------------------index-------------------
**/
#calendars{
    padding-left: 1%;
    &>div.fc {
        float: left;
        width: 30%;
        margin-right: 2%;
        
    }
    .fc-header-title{text-align: center;}
    
    
    .calendar-after .fc-header-right, .calendar-before .fc-header-left{
        vertical-align: center;
        text-align: center;
        font-size: 92px;
        line-height: 25%;
    }
    
}

#calendar-tags-caption{text-align: center;}
#calendar-tags .tag{width: 100%; font-size: 1.8em; background-color: #5CB85C; border-radius: 0.1em; padding-left: 0.6em; font-family: Georgia, Times, "Times New Roman", serif;}
#login-placeholder, #register-placeholder {width: 45%;}
#login-placeholder {margin-left: 2%; margin-right: 8%;}
#email-authentication>.modal-dialog{width: 55em;}
#login-submit-wrapper{text-align: center; width: 50%;}
#register-submit-wrapper{text-align: center; width: 50%;}
#email-authentication tr{margin: 0.5em auto;}




