*.pyc
bin/*
bin
eggs
eggs/*
develop-eggs
develop-eggs/*
*~
.installed.cfg
*/__pycache__
src/our_game.egg-info
src/core/local_settings.py
*/.idea
.idea/
*.sqlite3
src/app_static
src/app_static/*
src/core/media/admin
*.mo
/logs/*
!/logs/README.txt
src/core/public/*
