[buildout]
parts=
    manage
    interpreter
    cmds    
versions = versions

develop = .

[versions]


[manage]
recipe        = djangorecipe
wsgi          = true
projectegg    = src
settings = core.settings
eggs =
    our_game

[interpreter]
recipe = zc.recipe.egg
eggs =
    ${manage:eggs}
interpreter = python

[cmds]
recipe = collective.recipe.cmd
on_install=true
on_update=true
cmds=
    bin/manage syncdb --noinput --migrate
    bin/manage test --settings=core.test_settings relations
    bin/manage compilemessages
