{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block nav_calendar_active %}active{% endblock %}

{% block content %}
<div id="add-event-wrapper">
<div id="add-competition-wrapper">
    <div class="header-wrapper">
        <div class="toLeft view-name"><h4>{% trans 'Add competition' %}</h4></div>
        <div class="toLeft change-view">{% trans 'add tournament' %} <span class="glyphicon glyphicon-arrow-right"></span></div><div class="clear"></div>
    </div>
    <form action="{% url 'add_competition' %}" role="form" class="form-horizontal" method="POST">{% csrf_token %}
    {% trans 'Create' as submit_text %}
    {% with competition_form as form %}
        {% include 'parts/bootstrap_form.html' %}
    {% endwith %}

    </form>
</div>
<div id="add-tournament-wrapper">
    <div class="header-wrapper">
        <div class="toLeft change-view"><span class="glyphicon glyphicon-arrow-left"></span> {% trans 'add competition' %}</div><div class="toLeft view-name"><h4>{% trans 'Add tournament' %}</h4></div>
        <div class="clear"></div></div>
    <form action="{% url 'add_tournament' %}">{% csrf_token %}
    {{ tournament_form.as_p }}
    </form>
</div>
</div>
{% endblock %}