{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block nav_calendar_active %}active{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'parts/tournament_content.html' %}
{% endblock %}

{% block right_side_settings %}
    {% if is_owner %}
    <div class="remove-or-edit-instance">
        <a href="{% url 'edit_tournament' tournament_id=tournament.id %}" class="btn btn-default">{% trans 'Edit' %}</a>
    </div>
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        ajaxPageUrlBase = "{% url 'authenticated_chat' model_key='tournament' owner_id=tournament.id %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/message_list.js"></script>
{% endblock %}