{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block nav_calendar_active %}active{% endblock %}

{% block content %}
<h2 class="center" id="event-edit-header">{% trans 'Tournament' %}</h2>
<form method="post" action="." role="form" class="form-horizontal">{% csrf_token%}
    {% include 'parts/bootstrap_form.html' %}
</form>
{% endblock %}

{% block right_side_settings %}
    <form method="post" action="{% url 'delete_competition' competition_id=form.instance.id %}" class="remove-or-edit-instance">{% csrf_token %}
        <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
    </form>
    {{ block.super }}
{% endblock %}