{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block nav_calendar_active %}active{% endblock %}

{% block content %}
    {% include 'parts/competition_content.html' %}
{% endblock %}

{% block right_side_settings %}
    {% if is_competition_owner %}
    <div class="remove-or-edit-instance">
        <a href="{% url 'edit_competition' competition_id=competition.id %}" class="btn btn-default">{% trans 'Edit' %}</a>
    </div>        
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/competition.js" type="text/javascript"></script>
{% endblock %}