{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block content %}
    {% include 'parts/calendar.html' %}

{% endblock %}

{% block right_side_content %}{% include 'parts/tags_to_display.html' %}{% endblock %}


{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fullcalendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index.js"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/fullcalendar.css" >
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/fullcalendar.print.css" media='print' >
{% endblock %}

{% block nav_calendar_active %}active{% endblock %}