{% extends 'base.html' %}

{% load i18n compress %}

{% block content %}
    {{ block.super }}
    {% include 'parts/calendar.html' %}
{% endblock %}

{% block right_side_content %}
<h3 id="calendar-tags-caption">{% trans 'Tags to display:' %}</h3>
<div id="calendar-tags">
    {% for tag in tags %}
    <div class="tag">
        <div class="name toLeft"><a href="{% url 'tag_page' tag_id=tag.id %}">{{ tag.name }}</a></div>
        <form class="remove toLeft" method="post" action="{% url 'unsubscribe_tag' %}">{% csrf_token %}
            <button type="submit"><span class="glyphicon glyphicon-trash"></span></button>
            <input type="hidden" name="id" value="{{ tag.id }}" />
        </form>
        <div class="clear"></div>
    </div>
    {% endfor %}
</div>
<div id="add-tag-block">
    <h4>{% trans 'Other tags:' %}</h4>
    {% for tag in popular_tags %}
    <a href="{% url 'tag_page' tag_id=tag.id %}" class="btn btn-default btn-sm">{{ tag.name }}</a>
    {% endfor %}
    {% if other_tags %}
    <h6 id="not-popular-tags-header">{% trans 'And other' %} {{ other_tags|length }}<span class="caret"></span></h6>
    <div id="not-popular-tags">
        {% for tag in other_tags %}
        <a href="{% url 'tag_page' tag_id=tag.id %}" class="btn btn-default btn-sm">{{ tag.name }}</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% if user.is_authenticated %}
<div id="create-own-tag-wrapper" class="center">
    <a href="{% url 'tag_create' %}" class="btn btn-primary">{% trans 'Create own tag' %}</a>
</div>
{% endif %}
{% endblock %}


{% block script %}
    {{ block.super }}
    <script>
        getTagsAutocompeteUrl = "{% url 'get_tag_names' %}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fullcalendar.js"></script>

    {% comment %}
        Custom jquery-ui contains:
            ui core: core, widget, position
            widgets: autocomplete, menu
            effects: effects core, blind effect, highlight effect
    {% endcomment %}
    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/index_base.js"></script>
    {% endcompress %}
{% endblock %}

{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css" >
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.print.css" media='print' >
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.4.custom.min.css" >
{% endblock %}

{% block nav_calendar_active %}active{% endblock %}
{% block hide_back %}hide{% endblock %}

