{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block content %}
 <form class="form-inline" role="form" action="{% url 'edit_tag' tag_id=tag.id %}" method="post">{% csrf_token %}
    {% include 'parts/bootstrap_form.html' %}
</form>
<div id="tag-accessors-management">
    <div id="owners">
        <h3>{% trans 'Tag owners:' %}</h3>
        <h6>{% trans 'Can view this page' %}</h6>
        {% for owner in independent_owners %}
        <div class="owner toLeft avatar-wrapper">
            <img class="avatar" src=" {{ owner.shared_to.userprofile.get_image }}" />
            <div class="center"><span>{{ owner.shared_to.userprofile.get_short_name}}</span></div>
        </div>
        {% endfor %}
        <div class="clear"></div>

        <div class="owner avatar-wrapper">
            <img class="avatar" src="{{ me_as_owner.shared_to.userprofile.get_image }}" />
            <div class="center"><span>{{ me_as_owner.shared_to.userprofile.get_short_name}}</span></div>
        </div>

        {% for owner in dependent_owners %}
        <div class="owner toLeft avatar-wrapper">
            <img class="avatar" src="{{ owner.shared_to.userprofile.get_image }}" />
            <div class="center"><span>{{ owner.shared_to.userprofile.get_short_name}}</span></div>
        </div>
        {% endfor %}
        <div class="toLeft">
            <button id="edit-owners" class="btn btn-default">{% trans 'Edit owners list' %} &gt; </button>
            <button id="stop-edit-owners" class="btn btn-default"> &lt; {% trans 'Hide contacts' %} </button>
        </div>
        <div class="clear"></div>
    </div>
    <div id="sharers">
        {% for sharer in sharers %}
        <div class="sharer toLeft">
        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
    <div id="contacts">
        {% for contact in contacts %}
        <div class="contact toLeft avatar-wrapper">
            <img class="avatar" src="{{ contact.about.get_image }}" />
            <div class="center"><span>{{ contact.about.get_short_name}}</span></div>

        </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block right_side_content %}
    {% if is_last_owner %}
    <form class="center" method="post" action="{% url 'delete_tag' tag_id=tag.id %}">{% csrf_token %}
        <input type="submit" value="{% trans 'Remove tag' %}" class="btn btn-danger" />
    </form>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/tag_edit.js" type="text/javascript"></script>
{% endblock %}