{% extends 'authenticated_base.html' %}

{% load i18n %}

{% block content %}
 <form class="form-inline" role="form" action="{% url 'edit_tag' tag_id=tag.id %}" method="post">{% csrf_token %}
    {% include 'parts/bootstrap_form.html' %}
</form>
<div id="tag-accessors-management">
    <div id="managers" class="toLeft">
        <h4>{% trans 'Tag managers:' %}</h4>
        <h6>{% trans 'Owners and publishers' %}</h6>
        <div class="list-placeholder">
            <img src="{{ STATIC_URL }}img/ajax-loader.gif" class="loader" />
            <div class="list" data-url="{% url 'tag_managers_list' tag_id=tag.id %}"></div>
        </div>
    </div>
    <div id="contacts" class="toLeft">
        <h4>{% trans 'All your contacts:' %}</h4>
        <h6>{% trans 'Click to make them publishers' %}</h6>
        <div class="list-placeholder">
            {% for contact in contacts %}
            <div class="contact toLeft avatar-wrapper item">
                <img class="avatar" src="{{ contact.about.get_image }}" />
                <div class="center"><span class="name">{{ contact.about.get_short_name}}</span></div>
                {% if contact.about.user %}
                <form action="{% url 'make_tag_sharer' tag_id=tag.id user_id=contact.about.user.id %}" method="post">{% csrf_token %}
                    <input type="submit" value="{% trans 'Add' %}" class="btn btn-warning btn-sm" />
                </form>
                {% endif %}
            </div>
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block right_side_content %}
    {% if is_last_owner %}
    <form class="center" method="post" action="{% url 'delete_tag' tag_id=tag.id %}">{% csrf_token %}
        <input type="submit" value="{% trans 'Remove tag' %}" class="btn btn-danger" />
    </form>
    {% endif %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script>
        confirmRemovingYourselfAsOwnerWords = "{% trans 'Are you sure, you want do remove yourself as owner of this tag?' %}";
        redirectToAfterRemovingYourselfAsOwner = "{% url 'index' %}";
    </script>
    <script src="{{ STATIC_URL }}js/tag_edit.js" type="text/javascript"></script>
{% endblock %}