{% extends 'unauthenticated_base.html' %}

{% load i18n %}

{% block content %}
    {% include 'parts/tag_content.html' %}
    {{ block.super }}
{% endblock %}


{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.css" >
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fullcalendar.print.css" media='print' >
{% endblock %}


{% block script %}
    {{ block.super }}
    <script>
        getEventsUrl = "{% url 'get_calendar_events' %}?tag_only={{ tag.id }}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fullcalendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/tag_page.js"></script>
{% endblock %}