{% extends "unauthenticated_base.html" %}

{% load i18n %}

{% block left_side %}
<div id="all-auth-links">
    <div><img src="{{ STATIC_URL}}img/email_144.png" alt="auth_with_email" data-toggle="modal" data-target="#email-authentication" /></div>
    <div><img src="{{ STATIC_URL}}img/facebook_144.png" alt="auth_with_fb" /></div>
    <div><img src="{{ STATIC_URL}}img/gmail_144.jpg" alt="auth_with_gmail" /></div>
    <div><img src="{{ STATIC_URL}}img/vk_144.jpg" alt="auth_with_vk" /></div>
    <div><img src="{{ STATIC_URL}}img/twitter_144.png" alt="auth_with_twitter" /></div>
</div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/fullcalendar.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/unauthenticated_index.js"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/fullcalendar.css" >
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/fullcalendar.print.css" media='print' >
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include 'parts/calendar.html' %}
{% endblock %}

{% block right_side_content %}{% include 'parts/tags_to_display.html' %}{% endblock %}

