{% load i18n %}
<div class="event-description">{{ event.description|default:''|safe }}</div>
<div class="tag-list">
    {% if event.tags.all.count > 0 %}
    <div>
    <span>{% trans 'Approved tags:' %}</span>
    {% with event.tags.all as tags %}
    {% include 'parts/event_description_tags.html' %}
    {% endwith %}
    </div>
    {% endif %}

    {% if event.tags_request.all.count > 0 %}
    <div>
    <span>{% trans 'Tags waiting for confirmation:' %}</span>
    {% with event.tags_request.all as tags %}
    {% include 'parts/event_description_tags.html' %}
    {% endwith %}
    </div>
    {% endif %}

    {% if can_add_tags %}
    <div>
        <span>{% trans 'Add tag:' %}</span>
        {% for tag in can_add_tags %}
        <form method="POST"
              action="{% url 'add_tag_to_event' model_key=model_name event_id=event.id tag_id=tag.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-xs btn-warning btn-default" value="{{ tag.name }} | +" />
        </form>
        {% endfor %}
    </div>
    {% endif %}

</div>
