{% load i18n %}

{% if competitions %}
<div>
    <h3>{% trans 'Competitions:' %}</h3>
    {% for competition in competitions %}
    <div>
        <h4>{{ competition.name }}</h4> {% trans 'Start' %}: <span>{{ competition.start_datetime }}</span>
    </div>
    {% endfor%}
</div>
{% endif %}

{% if tournaments %}
<div>
    <h3>{% trans 'Tournaments:' %}</h3>
    {% for tournament in tournaments %}
    <div>
        <table>
            <tr rowspan="2"><td>{{ competition.name }}</td>
            <td>{% trans 'First day to play' %} {{ competition.start_datetime }}</td>
            </tr>
            <tr>
                <td>{% trans 'Last day to play' %} {{ competition.end_datetime }}</td>
            </tr>
        </table>
    </div>
    {% endfor%}
</div>
{% endif %}

{% if not competitions and not tournaments %}
    <h3>{% trans 'No events for this day.' %}</h3>
{% endif %}