{% load i18n %}

{% if competitions %}
<div>
    <h3>{% trans 'Competitions:' %}</h3>
    {% for competition in competitions %}
    <div>
        <h4>
            <a href="{% url 'view_competition' competition_id=competition.id %}">{{ competition.get_name }}</a>
        </h4>
        <div>{% trans 'Start' %}: <span>{{ competition.start_datetime }}</span></div>
        {% if competition.end_datetime %}
        <div>{% trans 'End' %}: <span>{{ competition.end_datetime }}</span></div>
        {% endif %}        
    </div>
    {% endfor%}
</div>
{% endif %}

{% if tournaments %}
<div>
    <h3>{% trans 'Tournaments:' %}</h3>
    <table>
    {% for tournament in tournaments %}
        <tr>
            <td rowspan="2"><a href="{% url 'view_tournament' tournament_id=tournament.id %}">{{ tournament.name }}</a></td>
            <td>{% trans 'First day to play' %}</td>
            <td>{{ tournament.first_datetime }}</td>
        </tr>
        <tr>
            <td>{% trans 'Last day to play' %}</td>
            <td>{{ tournament.last_datetime }}</td>
        </tr>
    {% endfor%}
    </table>
</div>
{% endif %}

{% if not competitions and not tournaments %}
    <h3>{% trans 'No events for this day.' %}</h3>
{% endif %}
