{% load i18n %}
<div id="competition-info">
    <table>
        <tr>
            <td colspan="2"><h2>{{ tournament.name }}</h2></td>
        </tr>
        <tr>
            <td>{% trans 'First day to play' %}</td>
            <td>{{ tournament.first_datetime }}</td>
        </tr>
        <tr>
            <td>{% trans 'Last day to play' %}</td>
            <td>{{ tournament.last_datetime }}</td>
        </tr>
    </table>
    {% with event=tournament model_name='tournament' %}
    {% include 'parts/event_description.html' %}
    {% endwith %}
</div>

{% if tournament.competitions.all.count > 0 %}
<table class="table table-striped table-hover">
    <tbody>
    {% for competition in tournament.competitions.all %}
    <tr>
        <td>
            <a href="{% url 'view_competition' competition_id=competition.id %}">
                {% if competition.place.name %}{{ competition.place.name }}{% else %}{{ competition.place.address }}{% endif %}
            </a>
        </td>
        <td>{{ competition.start_datetime }}</td>
        <td>{{ competition.place.get_short_description }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

<div id="add-event-wrapper">
    <a href="{% url 'add_event' %}?tournament={{ tournament.id }}&default_date={{ default_competition_start }}" class="btn btn-success">{% trans 'Add competition place' %}</a>
</div>

{% url 'authenticated_chat' owner_id=tournament.id model_key='tournament' as chat_url %}
{% include 'parts/chat_list_wrapper.html' %}
