{% load i18n %}

<div id="calendars">
    <div class="change-month prev toLeft">‹</div>
    <div class='calendar-current toLeft'></div>
    <div class="change-month next toLeft">›</div>
    <div class="clear"></div>
</div>
<div class="one-day-view">
    <div class="top"><button class="close">x</button></div>
    <div class="day-events"></div>
    <form id="add-event-wrapper" action="{% url 'add_event' %}" method="GET">
        <input type="submit" class="btn btn-success" value="{% trans 'Add event' %}" />
        <input type="hidden" id="timestamp-to-create-event" name="default_date" />
    </form>
    <div id="craete-event-placeholder"></div>
</div>


<script type="text/javascript">
    getEventsUrl = '{% url 'get_calendar_events' %}';
    {% if ACTIVE_LANGUAGE == 'be' %}
    monthNames = ['Студзень','Люты','Сакавік','Красавік','Травень','Чэрвень','Ліпень','Жнівень','Верасень','Кастрычнік','Лістапад','Снежань'];
    dayNamesShort = ['Нд', 'Пн','Ат','Ср','Чц','Пт','Сб'];
    {% elif ACTIVE_LANGUAGE == 'ru' %}
    monthNames = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];
    dayNamesShort = ['Вс', 'Пн','Вт','Ср','Чт','Пт','Сб'];
    {% endif %}
    eventsForDay = "{% url 'get_calendar_events_for_day' %}?";
</script>

