{% load i18n %}

{% for contact in contacts %}
<div class="toLeft contact">
    <form method="post" action="{% url 'remove_contact' contact_id=contact.id %}">{% csrf_token %}
        <a href="{% url 'view_user' profile_id=contact.about.id %}">
            <img src="{{ contact.about.get_image }}" /><br />
        <span class="username">{{ contact.about.user.username }}</span></a>
        <div>
            <input class="btn btn-danger" value="{% trans 'Remove' %}" type="submit" />
        </div>
    </form>
</div>
{% endfor %}