{% extends 'base.html' %}

{% load i18n relations %}



{% block left_side %}
<ul class="nav nav-pills nav-stacked">
  <li class="{% block nav_calendar_active %}{% endblock %}"><a href="{% url 'index' %}">{% trans 'Calendar' %}</a></li>
  <li class="team-nav
             {% if user.userprofile.get_active_teams.count > 0 %}with-button {% endif %}
             {% if user.userprofile.get_active_teams.count > 1 %}dropdown {% endif %}
             {% block nav_team_active %}{% endblock %}">
      {% include 'parts/team_link.html' %}
  </li>
  <li class="{% block nav_contacts_active %}{% endblock %}"><a href="{% url 'view_contacts' %}">{% trans 'People' %}</a></li>
  <li class="{% block nav_settings_active %}{% endblock %}"><a href="{% url 'settings' %}">{% trans 'Settings' %}</a></li>
</ul>
{% endblock %}



{% block right_side_settings %}
    {{ block.super}}
    <form action="{% url 'protected_logout' %}" method="post" id="logout-wrapper">{% csrf_token%}
        <input type="submit" value="{% trans 'Log out' %}" class="btn btn-info" />
        <input type="hidden" value="{% url 'index' %}" name="next" />
    </form>
{% endblock %}


{% block script %}
   {{ block.super }}
   <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
   <script src="{{ STATIC_URL }}js/lib/moment.js" type="text/javascript"></script>
   <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.js" type="text/javascript"></script>
   <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.by.js" type="text/javascript"></script>
   <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.ru.js" type="text/javascript"></script>
   <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.form.min.js"></script>
   <script src="{{ STATIC_URL }}js/authenticated_base.js" type="text/javascript"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" >
{% endblock %}