{% load i18n core_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <title>{% block title %}{% trans "What? Where? When? organizer" %}{% endblock %}</title>
    {% block style %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" >
    <link type="text/css" rel="stylesheet/less" href="{{ STATIC_URL }}css/style.less" >
    {% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/less-1.7.0.min.js"></script>
</head>
<body>
    <div id="all-wrapper">
        <div id="commercial-placeholder"></div>
        <div class="toLeft" id="left-side">{% block left_side %}{% endblock %}</div>
        <div class="toLeft" id="content">{% block content %}{% endblock %}</div>
        <div class="toLeft" id="right-side">
            {% block right_side %}
            <div id="right-side-content">{% block right_side_content %}{% endblock %}</div>
            <div id="right-side-settings">
                {% block right_side_settings %}
                <div id="select-language">
                    <form action="{% url 'set_language' %}" method="POST">
                    {%csrf_token%}
                        <table id="locales-switcher">
                            {% for LANGUAGE_AVAILABLE in OTHER_LANGUAGES %}
                            <tr>
                                <td class="available-lang">
                                    <nobr><img src="{{ STATIC_URL }}img/locale_flags/{{ LANGUAGE_AVAILABLE|into_css }}.png" />
                                    <button type="submit" name="language" value="{{LANGUAGE_AVAILABLE}}" class="btn btn-default btn-xs">
                                        {{LANGUAGE_AVAILABLE|into_display_code}}
                                    </button></nobr>
                                </td>
                                {% if forloop.first %}<td class="active-lang" rowspan="{{OTHER_LANGUAGES|length}}">
                                    <nobr><span>{{ACTIVE_LANGUAGE|into_display_code}}</span>
                                    <img src="{{ STATIC_URL }}img/locale_flags/{{ ACTIVE_LANGUAGE|into_css }}.png" /></nobr>
                                </td>{% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                         </table>
                    </form>
                </div>
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <div class="clear"></div>
        <div id="footer"></div>
    </div>
{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-2.0.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
{% endblock %}
</body>
</html>