{% load i18n core_tags compress socialaccount relations %}
<!DOCTYPE html>
<html class="lang-{{ ACTIVE_LANGUAGE|into_css }}" data-lang="{{ ACTIVE_LANGUAGE|into_css }}">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <title>{% block title %}{% trans "What? Where? When? organizer" %}{% endblock %}</title>
    {% block style %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" >
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/style.less" >
    {% endcompress %}
    {% if user.is_authenticated %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-datetimepicker.css" >
    {% endif %}
    {% endblock %}
    {% block top_script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-2.0.2.min.js"></script>
    {% endblock %}
</head>
<body>
    <div id="all-wrapper">
        <div id="commercial-placeholder"></div>
        <div class="toLeft" id="left-side">
        {% block left_side %}
        {% if user.is_authenticated %}
        <ul class="nav nav-pills nav-stacked">
          <li class="{% block nav_calendar_active %}{% endblock %}"><a href="{% url 'index' %}">{% trans 'Calendar' %}</a></li>
          <li class="team-nav
                     {% if user.userprofile.get_active_teams.count > 0 %}with-button {% endif %}
                     {% if user.userprofile.get_active_teams.count > 1 %}dropdown {% endif %}
                     {% block nav_team_active %}{% endblock %}">
              {% include 'parts/team_link.html' %}
          </li>
          <li class="{% block nav_contacts_active %}{% endblock %}"><a href="{% url 'view_contacts' %}">{% trans 'People' %}</a></li>
          <li class="{% block nav_settings_active %}{% endblock %}"><a href="{% url 'settings' %}">{% trans 'Settings' %}</a></li>
        </ul>
        {% else %}
        <div id="all-auth-links">
            <div class="{% block hide_back %}{% endblock %}"><a href="{% url 'index' %}"><img src="{{ STATIC_URL}}img/back.png" alt="back"  /></a></div>
            <div><img src="{{ STATIC_URL}}img/email_144.png" alt="auth_with_email" data-toggle="modal" data-target="#email-authentication" /></div>
            <div><a href="{% provider_login_url 'facebook' method='oauth2' %}"><img src="{{ STATIC_URL}}img/facebook_144.png" alt="auth_with_fb" /></a></div>
            <!-- <a href="{% provider_login_url 'google' %}"><div><img src="{{ STATIC_URL}}img/gmail_144.jpg" alt="auth_with_gmail" /></div></a>  -->
            <div><a href="{% provider_login_url 'vk' %}"><img src="{{ STATIC_URL}}img/vk_144.jpg" alt="auth_with_vk" /></a></div>
            <div><a href="{% provider_login_url 'twitter' %}"><img src="{{ STATIC_URL}}img/twitter_144.png" alt="auth_with_twitter" /></a></div>
        </div>
        {% endif %}
        {% endblock %}
        </div>
        <div class="toLeft" id="content">
        {% block content %}
        {% if not user.is_authenticated %}
        <div class="modal {% if show_login %}force-show{% endif %}" id="email-authentication">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Log in or register.' %}</h4>
                  </div>
                  <div class="modal-body">
                    <div id="login-placeholder" data-url="{% url 'account_login' %}?next={% url 'index' %}" class="toLeft"></div>
                    <div id="register-placeholder" data-url="{% url 'account_signup' %}" class="toLeft"></div>
                    <div class="clear"></div>
                  </div>
                  <div class="modal-footer">
                      <div id="login-submit-wrapper" class="toLeft"><input type="submit" class="btn btn-primary" value="{% trans 'Sign In' %}" form="login-form" /></div>
                      <div id="register-submit-wrapper" class="toLeft"><input type="submit" class="btn btn-success" value="{% trans 'Sign Up' %}" form="registration-form" /></div>
                      <div class="clear"></div>
                  </div>
                </div>
          </div>
        </div>
        {% endif %}
        {% endblock %}
        </div>
        <div class="toLeft" id="right-side">
            {% block right_side %}
            <div id="right-side-content">{% block right_side_content %}{% endblock %}</div>
            <div id="right-side-settings">
                {% block right_side_settings %}
                <div id="select-language">
                    <form action="{% url 'set_language' %}" method="POST">
                    {%csrf_token%}
                        <table id="locales-switcher">
                            {% for LANGUAGE_AVAILABLE in OTHER_LANGUAGES %}
                            <tr>
                                <td class="available-lang">
                                    <nobr><img src="{{ STATIC_URL }}img/locale_flags/{{ LANGUAGE_AVAILABLE|into_css }}.png" />
                                    <button type="submit" name="language" value="{{LANGUAGE_AVAILABLE}}" class="btn btn-default btn-xs">
                                        {{LANGUAGE_AVAILABLE|into_display_code}}
                                    </button></nobr>
                                </td>
                                {% if forloop.first %}<td class="active-lang" rowspan="{{OTHER_LANGUAGES|length}}">
                                    <nobr><span>{{ACTIVE_LANGUAGE|into_display_code}}</span>
                                    <img src="{{ STATIC_URL }}img/locale_flags/{{ ACTIVE_LANGUAGE|into_css }}.png" /></nobr>
                                </td>{% else %}
                                <td></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                         </table>
                    </form>
                </div>
                {% if user.is_authenticated %}
                <form action="{% url 'protected_logout' %}" method="post" id="logout-wrapper">{% csrf_token%}
                    <input type="submit" value="{% trans 'Log out' %}" class="btn btn-info" />
                    <input type="hidden" value="{% url 'index' %}" name="next" />
                </form>
                {% endif %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        <div class="clear"></div>
        <div id="footer">
            <a href="mailto:demidov91@mail.ru">{% trans "Mail to developers." %}</a>
            {% with ACTIVE_LANGUAGE|into_css as language %}
            <a href="{% ifequal language 'ru' %}{% url 'about_ru' %}{% else %}{% url 'about_by' %}{% endifequal %}">
                {% trans 'About us' %}
            </a>
            {% endwith %}
        </div>
    </div>
{% block script %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    {% if user.is_authenticated %}
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/moment.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.by.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.ru.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}js/authenticated_base.js" type="text/javascript"></script>
    {% else %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.form.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/unauthenticated_base.js" type="text/javascript"></script>
    {% endif %}
{% endblock %}
</body>
</html>